.boxinfos::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  .boxinfos::-webkit-scrollbar-track {
    background: #E3E4EE;        /* color of the tracking area */
  }
  
  .boxinfos::-webkit-scrollbar-thumb {
    background-color: #837979;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #E3E4EE;  /* creates padding around scroll thumb */
  }

.boxinfos{
    background-color: #E3E4EE;
    width: 100%;
    height: 40vh;
    border-radius: 20px;
    margin-top: 15px;
    overflow: hidden;
    overflow-y: scroll;
}

.boxinfos-titulo{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    margin: 5% 3%;
}
