* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

#menu-cadastro {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: 100%;
}

.logoCadastro {
  display: flex;
  margin-left: 20%;
  margin-top: 50px;
  width: 10%;
}

.menu {
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
  width: 28%;
  height: 100%;
}

.menu a {
  list-style: none;
  text-decoration: none;
  color: black;
  font-size: 14pt;
  padding-left: 10%;
  padding-right: 5%;
}

header .botao {
  display: flex;
  justify-content: flex-start;
  width: 30%;
  margin-top: 50px;
}

header .botao .botao-cadastro {
  border-radius: 20px;
  border: solid 1px transparent;
  background-color: transparent linear-gradient(101deg, #78e4ff, #ff48fa);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 0px 1000px 0px #e9eaf4 inset;
  width: 140px;
  height: 36px;
  font-size: 14pt;
  background: linear-gradient(
    90deg,
    #1fb7ff 0%,
    #1055d6 13.31%,
    #0b20a4 24.57%,
    #662990 36.35%,
    #e34d8c 46.58%,
    #e64f81 56.82%,
    #f65564 65.52%,
    #f97e49 72.69%,
    #fb9739 78.32%,
    #fdcb7a 87.02%
  );
  cursor: pointer;
}

.container-cadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  width: 100%;
}

.bg {
  position: absolute;
  top: -75px;
  left: -75px;
  z-index: -1;
}

.content-cadastro {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 30px;
}

.campo-esquerda {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 30px;
}

.campo-direita {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 30px;
}

.titulo-cadastro {
  font-weight: 100;
  font-size: 5vh;
}

.input-senha-cadastro {
  width: 400px;
  height: 60px;
  margin-top: 30px;
  border: 1px solid #2138cb;
  background-color: transparent;
  border-radius: 10px;
  font-size: 15px;
  padding-left: 20px;
}

.btn-cadastro {
  width: 456px;
  height: 55px;
  margin-top: 30px;
  background: linear-gradient(90deg, #2138cb 0%, #4c2797 117.93%);
  border-radius: 10px;
  color: #ffffff;
  font-size: 25px;
  border: 0px;
  cursor: pointer;
}

.btn-cadastro button {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.input-senha:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

@media (min-width:1200px){
  .menu-provisorio {
    display: none;
  }
  
}


@media (max-width: 1000px) {
  .esquerda {
    margin-left: -140px;
  }

  .bg {
    left: -50%;
  }
}

@media (max-width: 1500px) {
  h3 {
    display: none;
  }
}

@media (max-width: 1200px) {
  .menu {
    display: none;
  }

  .bg{
    display: none;
  }

  .botao-cadastro{
    display: none;
  }

  .logoCadastro {
    display: flex;
    margin-left: 10%;
    margin-top: 50px;
    width: 10%;
  }

  .container-cadastro{
   display: block;
  }

  .titulo-cadastro{
    text-align: center;
    font-size: 45px;
  }

  .content-cadastro{
    display: flex;
    flex-direction: column;
   align-items: center;
  }

  .campo-direita, .campo-esquerda{
    width: auto;
    margin-top: 0;
    margin-bottom: 10px;
    align-items: center;
  }

  .input-senha-cadastro{
    width: autp;
    height: 80px;
    font-size: 20px;
  }

  .btn-cadastro{
    width: 80%;
    height: 80px;
    font-size: 40px;
    margin-bottom: 50px;
  }
  
}
