
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: #ffffff;
}



body{
    width: 100%;
    background-color: E9EAF4;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center; 
    width: 100%;
    height: 100%;
}

.logoCadastro {
    display: flex;
    margin-left: 20%;
    margin-top: 50px;
    width: 10%;
}

.menu{
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    width: 28%;
    height: 100%;
}

.menu a{
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 14pt;
    padding-left: 10%;
    padding-right: 5%;
}

header .botao{
    display: flex;
    justify-content: flex-start;
    width: 30%;
    margin-top: 50px;
}

header .botao .botao-cadastro{
    border-radius: 20px;
    border: solid 1px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0px 1000px 0px #E9EAF4 inset;
    width: 140px;
    height: 36px;
    font-size: 14pt;
    background: linear-gradient(90deg, #1FB7FF 0%, #1055D6 13.31%, #0B20A4 24.57%, #662990 36.35%, #E34D8C 46.58%, #E64F81 56.82%, #F65564 65.52%, #F97E49 72.69%, #FB9739 78.32%, #FDCB7A 87.02%);
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.bg{
    position: absolute;
    top: -75px;
    left: -75px;
    z-index: -1;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 30px;
}

.campo-esquerda{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 30px;

}

.campo-direita{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 30px;
    margin-left: 20%;
}

.titulo{
    font-weight: 100;
    font-size: 30px;
}

.input-senha{
    width: 400px;
    height: 60px;
    margin-top: 30px;
    border: 1px solid #2138CB;
    background-color: transparent;
    border-radius: 10px;
    font-size: 15px;
    padding-left: 20px;
    
}
 

.btn{
  width: 456px;
  height: 55px;
  margin-top: 30px;
  background: linear-gradient(90deg, #2138CB 0%, #4C2797 117.93%);
    border-radius: 10px;
    color: #ffffff;
    font-size:25px;
    border: 0px;
    cursor: pointer;
}

.input-senha:focus{
 box-shadow: 0 0 0 0;
 outline: 0;
}

@media (max-width: 1000px){
    .esquerda{
        margin-left: -140px;
    }

    .bg{
       left: -50%;
    }
}

@media (max-width: 1500px){
 
     h3{
         display: none;
      }
}

