body {
  background-color: #eff0f8;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

@media (min-width: 801px) {
  .mobile {
    display: none;
  }

  .content-desktop {
    display: flex;
    justify-content: space-between;
  }

  /* sidebar  */

  .esquerda {
    display: flex;
  }

  .sidebar {
    width: auto;
    height: 100vw;
    background-color: #e9eaf4;
    padding: 0 10px 10px 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
  }

  .logo-desktop {
    width: 60%;
    margin-top: 30px;
  }

  .img-perfil {
    width: 80%;
    margin-top: 30px;
  }

  .icon-menu {
    padding-top: 50px;
  }

  .barra {
    width: 7px;
    height: 40px;
    background: linear-gradient(187deg, #d15fc0 0%, #8c9cff 100%);
  }

  .evento {
    display: flex;
    align-items: center;
  }

  .evento-icon {
    padding-left: 10px;
    width: auto;
    height: 100%;
  }

  .footer-sidebar {
    margin-top: 90%;
  }

  .eventos-desktop {
    margin-top: 130px;
    padding-left: 20px;
  }

  .header-eventos-desktop{
    display: flex;
    align-items: center;
    width: 200%;
    padding-top: 20px;
  }

  .direita-eventos-desktop{
    padding-left: 10px;
  }

  .titulo-evento{
    font-size: 110%;
    font-family: 'Poppins', sans-serif;
  }

  .direita-eventos-desktop h2{
    font-family: 'Exo', sans-serif;
    font-size: 90%;
    color: #837979;
  }

  .adiciona-evento-desktop{
    display: flex;
    justify-content: center;
    
    margin-top: 20px;
  }

  .adiciona-evento{
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: #fff;
    font-size: 30px;
    background: linear-gradient(187deg, #D15FC0 0%, #8C9CFF 100%);
    border: none;
    cursor: pointer;
  }

  .barra-evento-desktop{
    width: 5px;
    height: 72px;
    background: linear-gradient(187deg, #D15FC0 0%, #8C9CFF 100%);
    margin-right: 10px;
  }

  /* meio da aplicação */

  .meio {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .header-meio {
    position: absolute;
    left: 20%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  .pesquisa-desktop {
    width: 20rem;
    height: 36px;
    border-radius: 50px;
    border-color: #d15fc0;
    padding-left: 20px;
    font-size: 20px;
    background-color: transparent;
  }

  .criar-evento {
    margin-left: 20%;
    width: 10rem;
    height: 46px;
    border-radius: 50px;
    background: linear-gradient(187deg, #d15fc0 0%, #8c9cff 100%);
    color: #fff;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }
}

@media (max-width: 800px) {
  body {
    overflow: visible;
  }

  .desktop {
    display: none;
  }

  .header-mobile {
    display: flex;
    justify-content: space-between;
    padding: 50px;
  }

  .logo-mobile {
    width: 80%;
  }

  .content-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .pesquisa-mobile {
    background-color: transparent;
    width: 306px;
    height: 56px;
    border-radius: 50px;
    padding-left: 20px;
    font-size: 20px;
    border-color: #8c9cff;
  }

  .eventos-mobile {
    margin-top: 50px;
  }

  .evento-mobile {
    display: flex;
    padding-right: 20px;
    padding-bottom: 50px;
  }

  .logo-evento {
    width: 120%;
  }

  .direita-evento-mobile {
    padding-left: 30px;
    align-items: center;
  }

  .titulo-evento {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
  }

  .direita-evento-mobile h2 {
    font-size: 20px;
    font-family: "Exo", sans-serif;
    color: #837979;
  }

  .barra {
    width: 5px;
    height: 62px;
    background: linear-gradient(187deg, #d15fc0 0%, #8c9cff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .espacamento {
    margin-left: 40px;
    width: 70%;
  }
}
