@media (min-width: 1200px) {
  .header-mobile {
    display: none;
  }
}

a {
  color: #000;
}

.header-desktop {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 20px 50px 0px 50px;
}

ul {
  display: flex;
}

.lista-login {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 30px;
  list-style: none;
}

.cadastre {
  width: 180px;
  height: 50px;
  border-radius: 50px;
  font-size: 20px;
  background-color: transparent;
  border-color: #2138cb;
  cursor: pointer;
}

.content-desktop-login {
  display: flex;
  flex-direction: row;
}

.esquerda {
  width: 50%;
  padding-left: 50px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.esquerda h1 {
  text-align: left;
  font-size: 50px;
}

.direita {
  width: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 25px;
  flex-direction: column;
}

.map {
  width: 100vh;
}

.bg-color-login {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 150vh;
  left: -100px;
  top: 0;
}

h2 {
  font-size: 25px;
  margin-top: 10px;
  color: #837979;
  margin-bottom: 50px;
}

.input-login {
  width: 80%;
  height: 80px;
  padding-left: 20px;
  font-size: 25px;
  background-color: transparent;
  border: 3px solid #2138cb;
  border-radius: 16px;
  margin-top: 60px;
  text-align: left;
}

.button-login {
  margin-top: 60px;
  width: 80vh;
  height: 100px;
  background-color: #2138cb;
  color: #fff;
  font-size: 40px;
  border-radius: 16px;
  cursor: pointer;
}

.opcoes {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 0px 40px 40px 40px;
  cursor: pointer;
}

.apple {
  display: flex;
  width: 130px;
  height: 80px;
  border: 3px solid #2138cb;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-right: 20px;
}

.google {
  display: flex;
  width: 130px;
  height: 80px;
  border: 3px solid #2138cb;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-right: 20px;
}

.facebook {
  display: flex;
  width: 130px;
  height: 80px;
  border: 3px solid #2138cb;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-right: 20px;
}

@media (max-width: 1200px) {
  /* * {
    overflow: visible;
  } */

  .mobile{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .header-desktop,
  .bg-color-login,
  .map {
    display: none;
  }
  .header-mobile {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    align-items: center;
  }

  .logo-mobile {
    width: 30%;
  }

  .content-mobile-login {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 25px;
    flex-direction: column;
    margin-top: 0;
  }

  .direita,
  .esquerda {
    width: 100%;
   margin-right: 0;
   padding-left: 0;
   margin: 0 auto;
  }

  .esquerda h1 {
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;

  }

  .titulo-login{
    display: flex;
    align-items: center;
  }

  .content-mobile-login h1 {
    font-size: 45px;
  }

  .button-login {
    margin-top: 60px;
    width: 85%;
    height: 100px;
    background-color: #2138cb;
    color: #fff;
    font-size: 40px;
    border-radius: 16px;
    cursor: pointer;
  }
}
