body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #E9EAF4;
    font-family: 'Poppins', sans-serif;

}

.showcase {
    width: 60%;
    height: 100vh;
    
}

.showcase .conteiner {
    width: 100%;
    height: 15%;
}

.showcase .conteiner .logo {
    width: 30%;
    height: 100%;
    float: left;
    padding-top: 4%;
    
}

.showcase .conteiner .menu {
    float: left;
    width: 52.6%;
    height: 84%;
    padding-top: 6.3%;
}

.showcase .conteiner .menu a{
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 14pt;
    padding-left: 5.4%;
    padding-right: 5%;
}

.showcase .conteiner .botao {
    float: left;
    width: 17.4%;
    height: 89.2%;
    padding-top: 5.5%;
}

.showcase .conteiner .botao .botao-cadastro {

    border-radius: 20px;
    border: solid 1px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0px 1000px 0px #E9EAF4 inset;
    width: 140px;
    height: 36px;
    font-size: 14pt;
    background: linear-gradient(90deg, #1FB7FF 0%, #1055D6 13.31%, #0B20A4 24.57%, #662990 36.35%, #E34D8C 46.58%, #E64F81 56.82%, #F65564 65.52%, #F97E49 72.69%, #FB9739 78.32%, #FDCB7A 87.02%);
}

.showcase .conteudo {
    width: 100%;
    height: 100%;
    
}

.showcase .blur {
    position: absolute;
    z-index: -1;
    margin-left: -50px;
    margin-top: 50px;
    width: 500px;
    height: 400px;
    filter: blur(600px);
    background: linear-gradient(90deg, #1FB7FF 0%, #1055D6 13.31%, #0B20A4 24.57%, #662990 36.35%, #E34D8C 46.58%, #E64F81 56.82%, #F65564 65.52%, #F97E49 72.69%, #FB9739 78.32%, #FDCB7A 87.02%);
    
}

.showcase .imagem-principal {
    width: 50%;
    height: 75%;
    z-index: 1;
    float: left;
    margin-left: -20px;
    /* background-image: url("../Imagens/Login/localizaçãologin3.png"); */
    background-size: 100%;
    background-position-y: 100px;
    background-repeat: no-repeat;
    
}

.showcase .imagem-principal {
    width: 50%;
    height: 75%;
    float: left;
    margin-left: -20px;
    
}

.showcase .imagem-principal img{
    margin-left: -25px;
    margin-top: 80px;
    
}

.showcase .imagem-principal h3{
    z-index: 9999;
    position: absolute;
    font-size: 25pt;
    margin-top: -40px;
    margin-left: 20px;
}

.showcase .imagem-principal p{
    margin-block-end: 0.5em;
}

.showcase .credencial {
    width: 50.8%;
    height: 75%;
    float: left;
    margin-top: 15px;
}

.showcase .credencial input{
    width: 75%;
    height: 45px;
    margin-top: 40px;
    margin-left: 80px;
    border-radius: 5px;
    border-color: #2138CB;
    background-color: transparent;
}

.showcase .credencial .texto-mostrarSenha{
    margin-left: 299px;
    margin-right: 5px;
    margin-top: 0px;
    font-size: 10pt;
    color: #837979;

}

.showcase .credencial button {
    width: 318px;
    height: 55px;
    font-size: 20pt;
    color: #fff;
    background: linear-gradient(90deg, #2138CB 0%, #4C2797 117.93%);
    border: transparent;
    border-radius: 6px;
    margin-left: 80px;
}

.showcase .credencial .texto-maisOpcoes {
    color: #837979;
    margin-left: 190px;
    font-size: 10pt;
    margin-top: 20px;
}

.showcase .credencial .maisOpcoes {
    margin-left: 59px;
}

.showcase .credencial .maisOpcoes .opcaoApple, .opcaoGoogle, .opcaoFace{
    text-align: center;
    border:#2138CB 2px solid;
    width: 100px;
    height: 60px;
    margin-top: 5px;
    float: left;
    padding-top: 10px;
    border-radius: 10px;
}

.showcase .credencial .maisOpcoes .opcaoGoogle, .opcaoFace {
    padding-top: 17px;
    height: 53px;
    margin-left: 20px;
}

.showcase .credencial .maisOpcoes .opcaoFace {
}

.showcase .credencial .maisOpcoes .opcao img {
    text-align: center;
}

.showcase .conteudo .texto-esqueceuSenha{
    text-align: center;

    font-size: 13pt;
    letter-spacing: 1px;

}

.showcase .conteudo .texto-esqueceuSenha a{
    color: #000;
    font-weight: 100;
    list-style: none;
}

