 body {
    margin: 0;
    padding: 0;
    background-color: #E9EAF4;
    font-family: 'Poppins', sans-serif;

}
 @media (min-width: 700px){
     .header{
         padding-right: 500px;
         width:200px;
         text-align: center;
         align-items: center;
     }

     .seta{
         width: 30%;
         height: 30%;
     }

     .text-voltar{
      
     }
    
 }
@media (max-width: 699px){
    .header{
    
        padding-right: 300px;
    }

    .text-voltar{
        display: none;     
    }

    .seta{
        width: 50px;
    }
}

*{
    overflow-x: hidden;
    text-decoration: none;
}

 .content{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: flex-start;
     margin-top: 0;
 }

 .header{
     display: flex;
 }


.meio{
    width: 713px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.logo{

    margin-top: 30px;
}

.wifi{
    margin-top: 40px;
    margin-left: 60px;
}

.texto{
    padding-top: 20px;
    font-size: 30px;
    font-family: "exo", sans-serif;
}

.input{
    width: 60%;
    border-radius: 10px;
    height: 60px;
    border-color: #2138CB;
    padding-left: 20px;
    background-color: transparent;
    font-size: 18px;
    font-family: "poppins", sans-serif;
    margin-top: 15px;
}



.confirmar{
    margin-top: 40px;
    height: 60px;
    border: none;
    background-color: #2138CB;
    color: #fff;
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: center;
}

.reenviar{
    margin-bottom: 40px;
}

u{
    color: #2138CB;
}

.bg-color{
    position: absolute;
    z-index: -1;
    width: 150%;
    height: 150vh;
}

.sub-titulo{
    font-size: 25px;
    text-align: center;
    color: #343333;
    font-family: 'Exo 2', sans-serif;
    font-weight: 100;
}

