body{
    background-color: #E9EAF4;
    font-family: 'Poppins', sans-serif;
}

.conta-main{
    width: 50%;
    background-color: #E9EAF4;
    margin: 0 auto;
}

.conta-infos{
    height: 80px;
}

.conta-form{
    width: 90%;
    display: inline-block;
    margin: 5% 0 0 5%;
}

.conta-label{
    font-size: 1.5rem;
    color: #171616;
}

.conta-input{
    height: 40px;
    width: 80%;
    border-color: rgba(76, 39, 151, 1);
    border-radius: 30px;
    margin: 2% 0;
    background: transparent;
    padding-left: 15px;
}

.conta-btn-editar{
    width: 35px;
    height: 35px;
    font-size: 16px;
    color: #ffffff;
    background: linear-gradient(180deg, #D15FC0 0%, #8C9CFF 100%);
    border: none;
    border-radius: 20px;
    margin-left: 8px;   
}

.conta-info-foto{
    float: left;
    width: 85px;
    margin-left: 40px;
}

.conta-info-nome{
    font-size: 1.5rem;
    margin: 1% 0 0 18%;
}

.conta-info-usuario{
    margin: 0 0 0 18%;
}

.conta-alterar{
    color: #3158D4;
    margin-left: 2%;
}

.conta-btn-atualizar{
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    margin: 5%;
    width: 30%;
    height: 40px;
    background: linear-gradient(180deg, #D15FC0 0%, #8C9CFF 100%);
    border: none;
    border-radius: 50px;
}

@media (min-width: 320px) {
    .conta-input{
        width: 70%;
    }
}

@media (min-width: 768px) {
    .conta-input{
        width: 70%;
    }

    .conta-btn-atualizar{
        margin: 5% 0 0 35%;
    }
}
