* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Lato", sans-serif;
  line-height: 1;
}

body {
  background-color: #eff0f8;
  overflow: hidden;
}

p {
  line-height: 19px;
  font-style: normal;
  position: relative;
  top: 11px;
  margin-left: 22%;
}

.sidebar-navigation {
  display: inline-block;
  min-height: 100vh;
  width: 80px;
  background-color: #e9eaf4;
  float: left;
  position: fixed;
}

.icones-abaixo {
  margin-top: 155%;
  margin-left: 29%;
}

#retangulo {
  width: 5px;
  position: absolute;
  left: 0px;
  top: 270px;
}

#home {
  font-size: 188%;
  cursor: pointer;
}

#chat {
  margin-top: 76%;
  width: 28px;
  cursor: pointer;
}

#calendario {
  margin-top: 76%;
  width: 27px;
  cursor: pointer;
}

#usuario {
  margin-top: 76%;
  width: 28px;
  cursor: pointer;
}

#logout {
  margin-top: 186%;
  width: 31px;
  margin-left: -11%;
  cursor: pointer;
}

#eventos-letra {
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  margin-top: initial;
  position: relative;
  top: 5%;
  margin-left: 14px;
}

.meio {
  width: 1117px;
}

.post {
  display: flex;
  flex-direction: column;
}

.comentario {
  width: 70%;
  height: 105px;
  margin-left: 15%;
  border-radius: 16px;
  padding: 1%;
}

.tres-pontos {
  position: absolute;
}

.ponto {
  width: 2%;
  left: 66%;
  margin-top: 10px;
  position: absolute;
  cursor: pointer;
}

.button {
  border-radius: 50px;
  width: 122px;
  height: 40px;
  background-color: #eff0f8;
  border-color: #2138cb;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #2138cb;
  color: #eff0f8;
}

.buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 43%;
  top: 85%;
}

.button {
  left: 202%;
}

#usuarios-letra {
  margin-left: 15px;
  size: 8px;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  margin-top: initial;
  position: relative;
  top: 8%;
}

#nickname {
  position: relative;
  top: 3px;
}

span {
  position: relative;
  right: -19%;
  left: 50px;
  top: 6px;
  font-size: 87%;
}

#fut-primeiro {
  margin-left: 13px;
  top: 2px;
  width: 33px;
  position: relative;
  top: 37px;
}

.foto-usuario {
  display: inline-block;
  border-radius: 50%;
  width: 72%;
  margin-left: 11%;
  margin-top: 14%;
}

.logo-sorriso {
  width: 46%;
  margin-left: 24%;
  margin-top: 28%;
}

.sidebar-navigation ul li .tooltip {
  display: inline-block;
  position: absolute;
  background-color: #313443;
  padding: 8px 15px;
  border-radius: 3px;
  margin-top: -26px;
  left: 90px;
  opacity: 0;
  visibility: hidden;
  font-size: 13px;
  letter-spacing: 0.5px;
}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  padding: 18px 127px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 0px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a .pesquisar-evento {
  font-size: 25px;
  font-weight: bold;
}

#input-evento {
  margin-left: 14%;
  border-radius: 17px;
  width: 134%;
  line-height: 199%;
  background: url(img/bx_bx-search.png) no-repeat scroll 0px 0px;
  padding-left: 45px;
  background-size: 6%;
  background-position-x: 5%;
  background-position: 19px;
  border-color: #d15fc0;
}
.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #ccc;
}

.tip-up {
  top: -25px; /* Same as body margin top + border */
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}

.tip-down {
  bottom: -25px;
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.tip-left {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.tip-right {
  top: 10px;
  right: -25px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.dialogbox .body {
  position: relative;
  max-width: 300px;
  height: auto;
  margin: 20px 172px;
  padding: 5px;
  border-radius: 3px;
}

#foto-comentarios {
  width: 55px;
  position: relative;
  right: 5px;
  bottom: 7px;
  float: left;
}

#bolinha {
  width: 55px;
  position: relative;
  right: 65px;
  bottom: 7px;
  float: unset;
}

#nome-user {
  margin-right: -1px;
  position: absolute;
  left: 18%;
  bottom: 35%;
}

#nick-user {
  margin-right: -1px;
  position: absolute;
  left: 18%;
  bottom: 32%;
  font-size: 15px;
  color: gray;
}

#nome-do-evento {
  margin-right: -1px;
  position: absolute;
  left: 32%;
  bottom: 35%;
}

#nome-usuario {
  position: relative;
  bottom: 0;
  right: 13%;
  top: -77%;
}

::placeholder {
  text-align: center;
}

/* Style the active/current link*/
.header a.active {
  background: linear-gradient(180deg, #d15fc0 0%, #8c9cff 100%);
  color: white;
  width: 133%;
  line-height: 210%;
  border-radius: 50px;
}

#myBtn {
  background: linear-gradient(180deg, #d15fc0 0%, #8c9cff 100%);
  color: white;
  width: 133%;
  line-height: 210%;
  border-radius: 50px;
}

/* Float the link section to the right */
.header-right {
  float: right;
  margin-right: 28%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Poppins;
}

/* Float four columns side by side */
.column {
  float: right;
  width: 22%;
  padding: 0 24px;
  margin-top: -520px;
  margin-right: 4%;
}

.column2 {
  width: 237px;
  position: relative;
  top: -149px;
  left: 76%;
  float: left;
}

.btn-mobile {
  color: transparent;
}

/* Remove extra left and right margins, due to padding */

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  background-color: #e9eaf4;
  height: 271px;
  height: 323px;
  border-radius: 22px;
}

#mapa {
  margin-left: 13%;
  margin-top: 2px;
  width: 58%;
  height: -moz-available;
  line-height: -19%;
  height: 294px;
  border-radius: 21px;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

@media (min-width: 700px) {
  .mobile {
    display: none;
  }
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 700px) {
  .desktop {
    display: none;
  }
  .container {
    width: 100%;
  }

  .sidebar-navigation {
    display: none;
  }

  #myBtn {
    display: none;
  }

  .btn-mobile {
    background: linear-gradient(180deg, #d15fc0 0%, #8c9cff 100%);
    color: #eff0f8;
    font-size: 44px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-top: 110%;
    margin-left: 80%;
    z-index: 1;
    cursor: pointer;
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0;
  }

  #input-evento {
    width: 200%;
    height: 30%;
    margin-left: -40%;
  }

  .column {
    width: 80%;
    margin-top: 1px;
  }
  .column2 {
    display: none;
  }

  #mapa {
    display: none;
  }
}

/* Mobile */

.header-mobile {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.logo-mobile {
  width: 85%;
}

.content-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-mobile {
  border-radius: 50px;
  width: 395px;
  height: 80px;
  font-size: 22px;
  color: #303031;
  border-color: #d15fc0;
  background-color: transparent;
  padding-left: 20px;
}

.eventos-carrosel {
  width: 90%;
  height: auto;
  background-color: #e9eaf4;
  padding: 18px;
  font-family: "Exo", sans-serif;
  font-weight: 700;
  border-radius: 16px;
  margin-top: 50px;
}

.eventos-carrosel h1 {
  font-size: 50px;
}

.descricao-evento-mobile {
  display: flex;
  text-align: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.img-evento-mobile {
  width: 14%;
}

.titulo-evento-mobile {
  padding-left: 15px;
  font-size: 40px;
}

.posts-mobile {
  margin-top: 100px;
}

.post-mobile {
  align-items: center;
}

.header-post-mobile {
  display: flex;
  padding-left: 35px;
}

.img-usuario-mobile {
  width: 13%;
  height: 13%;
}

.descricao-header-mobile {
  padding-left: 20px;
}

.usuario-header-descricao-mobile {
  font-size: 23px;
  color: #837979;
}

.titulo-evento-mobile-post {
  margin-left: 65%;
  font-size: 25px;
}

.mensagem {
  width: 95%;
  margin-left: 10px;
  border-radius: 16px;
  border: 1px solid #2138cb;
  padding: 30px;
}

.mensagem-post-moobile {
  font-size: 25px;
}

.hashtag-mobile {
  color: #2138cb;
}

.btn-interacao-usuario-mobile {
  display: flex;
  position: absolute;
  margin-top: 3%;
  align-items: center;
  text-align: center;
}

.btn-interacao {
  width: 130px;
  height: 37px;
  margin-left: 30px;
  background: #eff0f8;
  border-radius: 50px;
  border-color: #2138cb;
  font-size: 20px;
  cursor: pointer;
}

.btn-interacao:hover{
  background-color: #2138cb;
  color: #fff;
}
