.post-container{
      width: 90%;
      height: 210px;
      margin: 0 auto;
      margin: 2% 0;
}

.post-imagem{
    width: 70px;
    float: left;
}

.post-nome{
    font-size: 1.3rem;    
}

.post-corpo{
    width: 85%;
    height: 110px;
    margin: 5% 0 0 8%;
    border-radius: 10px;
    background-color: #E3E4EE;
    padding: 10px 0 0 20px;
    border: 1px solid blue;
}

.post-container-btn{
    width: 90%;
    margin: auto;
    margin-bottom: 2%;
    display: flex;
    justify-content: flex-end;
}

.post-btn{
    margin-left: 1%;
    width: 100px;
    height: 35px;
    border-color: rgba(33, 56, 203, 1);
    border-radius: 20px;
    background: transparent;
    cursor: pointer;
}

.post-btn:hover{
    background-color: rgba(39, 56, 203, 1);
    color: #E3E4EE;
}

@media (min-width: 320px){
    .post-container{
        height: 240px;
    }

    .post-container-btn{
        width: 70%;
    }

    .post-imagem{
        width: 50px;
    }

    .post-nome{
        margin-left: 10%;
    }

    .post-usuario{
        margin-left: 10%;    
    }    
}

@media (min-width: 1440px){
    .post-container{
        height: 210px;
    }

    .post-nome, .post-usuario{
        margin-left: 8%;
    }
}