body {
    font-family: 'Exo', sans-serif;
    background-color: #E9EAF4;
}

header {
    background-color: #E9EAF4;
    padding: 20px 0;
}

.caixa {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav {
    align-self: center;
}

nav li {
    display: inline;
    font-family: 'Poppins', sans-serif;
}

nav li a {
    text-decoration: none;
    color: #000000;
    font-size: 1.5em;
    padding: 15px;
}

main {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
}

.principal-section {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;

    text-align: center;
}

.titulo-principal {
    font-size: 2.5em;
    line-height: 2em;
    font-weight: 600;
}

.principal-section p {
    font-size: 1.5em;
    line-height: 1.5em;
}

.container-botoes i,
a {
    font-size: 1em;
    line-height: 3.5em;
    text-decoration: none;
    color: #000000;
}

.imagem-apl {
    max-width: 920px;
    width: 100%;
    margin: 10% auto;
}

.second-section {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
}

.imagem-bolinhas {
    position: absolute;
    max-width: 920px;
    width: 100%;
    margin: 0 auto;
}

.second-section {
    margin-top: 15%;
}

.second-section h1,
h3,
.link-login-cadastro {
    text-align: center;
}

.second-section h1 {
    padding-top: 17%;
    font-weight: 600;
    font-size: 2.5em;
    line-height: 2em;
}

.second-section h3 {
    font-size: 1.5em;
    line-height: 1em;
}

.second-section .link-login-cadastro {
    font-size: 1.25em;
    line-height: 7em;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.sobre-nos {
    margin-top: 10%;
}

.sobre-nos p {
    font-size: 1.25em;
    line-height: 1.25em;
}

.sobre-nos h4 {
    font-size: 2.25em;
    line-height: 2.25em;
}

.logo-u {
    width: 20%;
    float: left;
    margin: 0 20px 20px 0;
}

.conteudo-sobre-nos {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
}

.paragrafo-sobre-nos {
    font-size: 1.25em;
    line-height: 1.5em;
    padding: 1%;
}

.imagem-equipe {
    width: 23%;
    float: right;
    margin-top: -35%;
}

.avaliacoes {
    margin: 50% auto;
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 20%;
}

.avaliacoes h5 {
    font-weight: 600;
    margin-bottom: 3%;
}

.avaliacoes p {
    padding-left: 5%;
    margin-left: 20%;
}

.imagem-perfil {
    float: left;
    width: 20%;
}

footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 20%;
}

footer p {
    margin: 1% 0;
}

@media screen and (max-width: 520px) {
    nav li a {
        font-size: 1em;
        padding: 15px;
    }

    .titulo-principal {
        font-size: 2em;
    }

    .principal-section p {
        font-size: 1em;
        line-height: 1em;
    }

    .second-section h1 {
        padding-top: 15%;
        font-size: 1em;
    }

    .second-section h3 {
        font-size: 0.7em;
    }

    .second-section .link-login-cadastro {
        font-size: 0.7em;
    }

    .sobre-nos p {
        font-size: 0.7em;
    }

    .sobre-nos h4 {
        font-size: 1em;
    }

    .sobre-nos .paragrafo-sobre-nos {
        font-size: 0.6em;
        padding: 1% 0;
    }

    .imagem-perfil {
        width: 100px;
    }

    .avaliacoes {
        margin: 50% auto;
        display: block;
    }

    .avaliacoes div {
        margin: 5%;
        font-size: 0.8em;
    }

    .avaliacoes h5 {
        font-weight: 600;
        margin-bottom: 3%;
    }

    .avaliacoes p {
        padding-left: 5%;
        margin-left: 20%;
    }


}