*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: #ffffff;
}



body{
    width: 100%;
    background-color: E9EAF4;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.esquerda{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 140px;
}

.seta{
    margin-left: 200px;
}

h3{
    font-family: 'Exo', sans-serif;
    font-weight: bolds;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.bg{
    position: absolute;
    top: -75px;
    left: -75px;
    z-index: -1;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
   
    
}

.titulo{
    font-weight: 100;
    font-size: 30px;
}

.input-senha{
    width: 440px;
    height: 50px;
   
    margin-top: 30px;
    border: 1px solid #2138CB;
    background-color: transparent;
    border-radius: 10px;
    font-size: 15px;
    padding-left: 20px;
    
}



.btn{
  width: 456px;
  height: 55px;
  margin-top: 30px;
  background: linear-gradient(90deg, #2138CB 0%, #4C2797 117.93%);
    border-radius: 10px;
    color: #ffffff;
    font-size:25px;
    border: 0px;
    cursor: pointer;
}

.input-senha:focus{
 box-shadow: 0 0 0 0;
 outline: 0;
}

@media (max-width: 1000px){
    .esquerda{
        margin-left: -140px;
    }

    .bg{
       left: -50%;
    }
}

