@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    background-color: #e5e5e5;
}


.navbar{
    background-color: #E9EAF4;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.bel{
    background: none;
    font-size: 2rem;
    margin-left: 100rem;
}

.menu-bars{
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu{
    background-color: #E9EAF4;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active{
    left: 0;
    transition: 350ms;
}

.nav-text{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 50px 0 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-menu-items{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15%;
}

.navbar-toggle{
    background-color: #E9EAF4;
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.navbar-titulo {
    margin-left: 16px;
}