# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\guilherme.nsantos\Desktop\Faculdade\3 semestre\Pesquisa & Inovação\Knowu-Grupo5\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
